.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #C3814A;
  }
  

  .form-group input{
    width: 100%;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .login-container .text-link{
    color: black;
    display: block;
    text-decoration: underline;
    cursor: pointer;
    padding-top: 10px;

  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .btn{
    background-color: #D14F2D;
  }
  