<div class="container-fluid text-center">
  <div class="row d-flex flex-column flex-md-row w-100">
    <div class="col-12 col-md-2 sidebar d-flex flex-column align-items-center p-3">
      <ul class="nav flex-column w-100 p-3">
        <li class="nav-item mb-2 upload">
          <div class="text-center mb-3">
            <label for="uploadLogo" class="d-block">
              <img *ngIf="logoUrl; else defaultLogo" [src]="logoUrl" alt="Logo da Casa" class="rounded-circle img-thumbnail" width="80">
              <ng-template #defaultLogo>
                <img src="../assets/sem-imagem.png" alt="Sem logo" class="rounded-circle img-thumbnail" width="80">
              </ng-template>
            </label>
            <input type="file" id="uploadLogo" (change)="listarClientesVinculados()" hidden>
          </div>
        </li>
        <li class="nav-item mb-2">
          <a href="/dashboard" class="nav-link active d-flex align-items-center">
            <img src="../assets/home.png" alt="Clientes" style="width: 20px; margin-right: 10px;" />
            Clientes
          </a>
        </li>
        <li class="nav-item mb-2">
          <a href="/dashboard" class="nav-link active d-flex align-items-center">
            <img src="../assets/data.png" alt="Dados" style="width: 20px; margin-right: 10px;" />
            Dados
          </a>
        </li>
        <li class="nav-item mb-2">
          <a href="/login" class="nav-link active d-flex align-items-center">
            <img src="../assets/logout.png" alt="Sair da dashboard" style="width: 20px; margin-right: 10px;" />
            Sair
          </a>
        </li>
      </ul> 
    </div>
    <div class="col-12 col-md-10 conteudo-principal p-4 flex-grow-1 min-vh-100">
      <div *ngIf="clientes.length > 0; else semClientes" class="d-flex flex-wrap gap-3">
        <div *ngFor="let cliente of clientes" class="card" style="width: 18rem;">
          <img *ngIf="cliente.urlImagemPerfil; else semImagem" [src]="cliente.urlImagemPerfil" class="card-img-top" alt="Foto do Cliente">
          <ng-template #semImagem>
            <img src="../assets/sem-imagem.png" class="card-img-top" alt="Sem imagem">
          </ng-template>

          <div class="card-body">
            <h5 class="card-title">{{ cliente.nome }}</h5>
            <p class="card-text">
              <strong>Contato:</strong> {{ cliente.contatoWhatsApp }}
            </p>
            <button (click)="verOrcamentos(cliente)" type="button" class="btn btn-success">
              Ver orçamentos
            </button>
          </div>
        </div>
      </div>
      <ng-template #semClientes>
        <p>Nenhum cliente vinculado encontrado.</p>
      </ng-template>
    </div>
  </div>
</div>

<footer class="bg-dark text-white py-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-inline d-flex justify-content-between">
          <li class="list-inline-item">
            <p>&copy; Rian Noronha, 2025.</p>
          </li>
          <li class="list-inline-item">
            Todos os direitos reservados.
          </li>
          <li class="list-inline-item">
            <a href="/termos" class="text-white">Termos de uso</a>
          </li>
          <li class="list-inline-item">
            <a href="/privacidade" class="text-white">Política de privacidade</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>



